{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "es2015",
    "react",
    "stage-2",
    "flow"
  ],
  "plugins": [
    "universal-import"
  ],
  "env": {
    "production": {
      "only": [
        "src"
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
