.nav {
  border-bottom: 1px solid #EEE;
  display: block;
  padding: 15px;
}

.link {
  margin-right: 10px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

.activeLink {
  composes: link;
  text-decoration: underline;
}
