.nav {
  border-bottom: 1px solid #EEE;
  display: block;
  margin: 15px 0;
  padding-bottom: 15px;
  &:hover {
    border-bottom: 1px solid orange;
  }
}

.link {
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 16px;
}
