.githubLink {
  composes: link;
  display: inline-block;
  font-size: 20px;
  color: #ddd;
}

.github {
  height: 20px;
  vertical-align: top;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
