:global {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    color: darken(#61DAFB, 20);
  }
}

.container {
  max-width: 80%;
  margin: 40px auto;
}
